<div class="jumbotron">
    <h1 class="mb-0" style="color: #45a29e; font-family: 'Times New Roman', Arial, sans-serif; font-weight: bolder;">
        Robinsali
        <span class="text" style="color: #1F2833;">Maredia</span>
    </h1>
    <hr class="my-4">
    <p class="lead" style="color: #707070 ; font-family: 'Times New Roman', Times, serif; font-weight: bold;">BIG DATA
        ENGINEER <br> 301259830 <br>
        <a href="rmaredi6@my.centennialcollege.ca">rmaredi6@my.centennialcollege.ca</a>
    </p>
</div>
