<div class="jumbotron">
    <h2 class="mb-0" style="color: #45a29e; font-family: 'Times New Roman', Arial, sans-serif; font-size: x-large;">
        AJIO, JIOMART & NETMEDS
    </h2>
    <hr class="my-4">
    <p class="mb-5" style="color: #707070 ; font-family: 'Times New Roman', Times, serif; font-size: large;">
        ➡ Development and optimization of real-time streaming for order management and inventory data using Apache Flink and achieved the efficiency of processing 5000 records per seconds using java programming language, Parsed the JSON data into tabular structure and loading into SAP HANA and stored the data into HDFS in ORC/JSON format.
    </p>
</div>
<div class="jumbotron">
    <h2 class="mb-0" style="color: #45a29e; font-family: 'Times New Roman', Arial, sans-serif; font-size: x-large;">
        ITINERARY RECOMMENDATION SYSTEM
    </h2>
    <hr class="my-4">
    <p class="mb-5" style="color: #707070 ; font-family: 'Times New Roman', Times, serif; font-size: large;">
        ➡ Designed Itinerary Recommendation System using a combination of two methods viz. Content-based filtering and Collaborative filtering which recommends POI based on a comparison between the type of POI and user preference; it also filters information by using the recommendation of other users.
    </p>
</div>
<div class="jumbotron">
    <h2 class="mb-0" style="color: #45a29e; font-family: 'Times New Roman', Arial, sans-serif; font-size: x-large;">
        INSTA BOT
    </h2>
    <hr class="my-4">
    <p class="mb-5" style="color: #707070 ; font-family: 'Times New Roman', Times, serif; font-size: large;">
        ➡ Developed an automated bot for Instagram using libraries like selenium and autoit and modules like glob. It uploads a picture based on the least modified timestamp from a folder specified by the user containing multiple photos with a user-given caption.
        <br>
        ➡ Additionally, it includes the feature of direct messaging to an account stated by the user
    </p>
</div>