<div class="container-fluid"  style="background-color:#838383;">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color:#1F2833; color: aliceblue;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="navbar-brand js-scroll-trigger" href="/home">
                    <span class="d-none d-lg-block">
                      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/Assets/images/profile1.jpeg" height="3000px" alt="">
                    </span>
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <ul class="navbar-nav mr-auto">
                
                      <% if (title == "Home"){ %>
                      <li class="nav-item active">
                      <% } else  { %>
                      <li class="nav-item">
                      <% } %>
                        <a class="nav-link text-white" href="/home"><i class="fas fa-house-user"></i> Home </a>
                      </li>
                
                      <% if (title == "About") { %>
                      <li class="nav-item active">
                      <% } else  { %>
                      <li class="nav-item">
                      <% } %>
                        <a class="nav-link text-white" href="/about"><i class="fas fa-address-card"></i> About Me </a>
                      </li>
                
                      <% if (title == "Products") { %>
                      <li class="nav-item active">
                      <% } else  { %>
                      <li class="nav-item">
                      <% } %>
                        <a class="nav-link text-white" href="/products"><i class="fas fa-tasks"></i> Projects </a>
                      </li>
                
                      <% if (title == "Services") { %>
                      <li class="nav-item active">
                      <% } else  { %>
                      <li class="nav-item">
                      <% } %>
                        <a class="nav-link text-white" href="/services"><i class="fas fa-cogs"></i> Services </a>
                      </li>
                
                      <% if (title == "Contact") { %>
                      <li class="nav-item active">
                      <% } else  { %>
                      <li class="nav-item">
                      <% } %>
                        <a class="nav-link text-white" href="/contact"><i class="fas fa-sms"></i> Contact </a>
                      </li>
                
                      <% if (title == "book-list") { %>
                      <li class="nav-item active">
                      <% } else  { %>
                      <li class="nav-item">
                      <% } %>
                        <a class="nav-link text-white" href="/book-list"><i class="fas fa-phone-square-alt"></i> Business Contact </a>
                      </li>
            </div>
        </div>
        <div class="col py-3"> 
                    <div class="jumbotron" style="background-color:#1F2833; color: #ffffff;">
                      <main class="container">
                        <!-- Message Area -->
                        <% if(messages.length > 0) {%>
                        <div class="alert alert-danger"><%= messages %></div>
                        <% } %>
                      
                        <div class="row">
                          <div class="offset-md-4 col-md-4">
                            <h1>Please Register</h1>
                            <form method="POST" autocomplete="off">
                              <fieldset class="form-group">
                                <label for="username">Username: </label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="username"
                                  placeholder="Enter username"
                                  id="username"
                                  required
                                  autofocus
                                />
                              </fieldset>
                      
                              <fieldset class="form-group">
                                <label for="password">Password: </label>
                                <input
                                  type="password"
                                  class="form-control"
                                  name="password"
                                  placeholder="Enter password"
                                  id="password"
                                  required
                                />
                                <fieldset class="form-group">
                                  <label for="email">Email: </label>
                                  <input type="email" class="form-control"
                                  name="email" placeholder="Enter Email Address"
                                  id="email" required>
                              </fieldset>
                      
                              <fieldset class="form-group">
                                  <label for="displayName">Display Name: </label>
                                  <input type="text" class="form-control"
                                  name="displayName" placeholder="Enter Display Name"
                                  id="displayName" required>
                              </fieldset>
                              
                      
                              <fieldset class="form-group text-right">
                                <input type="submit" class="btn btn-success" value="Register" />
                                <a href="/">
                                  <input type="button" class="btn btn-warning" value="Cancel" />
                                </a>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </main>
                      
        </div>
        </div>
    </div>
  </div>