<div class="jumbotron">
    <h1 class="mb-0" style="color: #45a29e; font-family: 'Times New Roman', Arial, sans-serif; font-weight: bolder;">
        Skills    <img src="/Assets/images/Apache_Spark.png" width="80" alt=""> || 
        <img src="/Assets/images/flink.png" width="80" alt=""> || 
        <img src="/Assets/images/kafka.png" width="80" alt=""> 
    </h1>
    <hr class="my-4">
    <p class="mb-5" style="color: #707070 ; font-family: 'Times New Roman', Times, serif; font-size: large;">
        ➡ Apache Spark
        <br>
        ➡ Apache Flink
        <br>
        ➡ Apache Kafka
        <br>
        ➡ Apache Hive
        <br>
        ➡ Apache Airflow
        <br>
        ➡ Scala & Java
        <br>
        ➡ Nodejs
        <br>
        ➡ Jenkins
        <br>
        ➡ HDFS
        <br>
        ➡ Python
    </p>
</div>
<div class="jumbotron">
    <h1 class="mb-0" style="color: #45a29e; font-family: 'Times New Roman', Arial, sans-serif; font-weight: bolder;">
        Certifications
    </h1>
    <hr class="my-4">
    <p class="mb-5" style="color: #707070 ; font-family: 'Times New Roman', Times, serif; font-size: large;">
        ➡ AWS Hadoop Fundaments by AWS training and certification
        <br>
        ➡ Databases for Developers: Foundations by Oracle
    </p>
</div>